<h1>Create Event</h1>

<div class = "row">
    <div class = "col-md-6 col-md-offset-3">
        <%= form_for(@event) do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title, class: "form_control" %>
            
            <%= f.label :location %>
            <%= f.text_field :location, class: "form_control" %>
            
            <%= f.label :description %>
            <%= f.text_area :description, class: "form_control" %>
            
            <%= f.label :date %>
            <%= f.date_field :date, class: "form_control"  %>
            
            <%= f.submit "Create Event", class: "btn btn-lg btn-primary" %>
        <% end %>
    </div>
</div>

